.back{
background-image: url("/img/paradise.jpg");
background-size: cover;
width: 100%;
height: 100vh;
  }
.modalform{
  width: 100px;
  height: 300px;
margin-left:  50%;
padding-top: 50%;
  background-color: white;
}
