
    <div class="row">
        <div class="col s12 map">
        </div>
        <div class="col s6 lastnews">
            <div class="col s12 z-depth-2 blocknews">
                <div class="">
                    <div class="col s4">
                        <img src="/img/srilanka.jpg">
                    </div>
                    <div class="">
                        <div class="col s8">
                            <div class="col s4 offset-s8 chip chiplastnews">
                                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                            </div>
                            <p>I just came back from Sri-Lanka ! Amazing trip ! People are so nice. Beautifull landscapes...</p>
                        </div>
                        <div class="card-action">
                            <a href="#">Wanna read more...</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 z-depth-2 blocknews">

                <div class="col s4">
                    <img src="/img/canaria.jpg">
                </div>
                <div class="">
                    <div class="col s8">
                        <div class="col s4 offset-s8 chip chiplastnews">
                            <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                        </div>
                        <p>Great surf in Canaria (Fuerte Ventura & Gran Canaria). Also awsome spot for partying ang chilling on the beach</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Read my report...</a>
                    </div>

                </div>
            </div>
            <div class="col s12 z-depth-2 blocknews">
                <div class="col s4">
                    <img src="http://lorempixel.com/100/190/nature/6">
                </div>
                <div class="">
                    <div class="col s8">
                        <div class="col s4 offset-s8 chip chiplastnews">
                            <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                        </div>
                        <p>I just came back from Sri-Lanka ! Amazing trip ! People are so nice. Beautifull landscapes...</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Wanna read more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 blog">
            <div class="col s12 z-depth-2">
                <div class="">
                    <img src="/img/canada.jpg">
                    <span class="cardtitle">Canada cold but cool !</span>
                </div>
                <div class="">
                    <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                </div>
                <div class="">
                    <a href="#">Wanna read more...</a>
                </div>
            </div>
        </div>
        <div class="col s2 newpeople">
            <h2>Have you ever met :</h2>
            <div class="chip rightsuggest">
                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
            </div>
            <div class="chip rightsuggest">
                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
            </div>
            <div class="chip rightsuggest">
                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
            </div>
            <div class="chip rightsuggest">
                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
            </div>
            <div class="chip rightsuggest">
                <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
            </div>
        </div>
    </div>
</div>
