<div class="row">
    <div class="col s12 map">
    </div>
    <div class="col s6 lastnews">
      <div class="bgsubtitle">
      <h2>Last reports</h2>
    </div>
      <p class="subtitle">These people went to places you would like to go. Read them reports, chat with them and then why not meeting them.</p>
        <div class="col s12 z-depth-2 blocknews">
            <div class="">
                <div class="col s4">
                    <img src="/img/srilanka.jpg">
                </div>
                <div class="col s8">
                    <div class="col s4 offset-s8 chip chiplastnews">
                        <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                    </div>
                    <p>I just came back from Sri-Lanka ! Amazing trip ! People are so nice. Beautifull landscapes...</p>
                </div>
                <div class="card-action">
                    <a href="#">Wanna read more...</a>
                </div>

            </div>
        </div>
        <div class="col s12 z-depth-2 blocknews">

            <div class="col s4">
                <img src="/img/canaria.jpg">
            </div>
            <div class="">
                <div class="col s8">
                    <div class="col s4 offset-s8 chip chiplastnews">
                        <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                    </div>
                    <p>Great surf in Canaria (Fuerte Ventura & Gran Canaria). Also awsome spot for partying ang chilling on the beach</p>
                </div>
                <div class="card-action">
                    <a href="#">Read my report...</a>
                </div>

            </div>
        </div>
        <div class="col s12 z-depth-2 blocknews">
            <div class="col s4">
                <img src="/img/canada.jpg">
            </div>
            <div class="col s8">
                <div class="col s4 offset-s8 chip chiplastnews">
                    <img src="/img/profilimg.jpg" alt="Contact Person"> Jane Doe
                </div>
                <p>Canada cold but cool !</p>
            </div>
            <div class="card-action">
                <a href="#">Wanna read more...</a>
            </div>
        </div>
    </div>
    <div class="col s4 blog">
      <div class="bgsubtitle">
      <h2>Must Match of the day</h2>
    </div>
      <p class="subtitle" >You have so much in common with this person... <br> <br></p>
        <div class="col s12 z-depth-2">
            <img class="picsprofil" src="/img/tatiana.jpg">
            <span class="cardtitle">TatianaFromRussia</span>
            <div class="">
                <p>I dream from long time ago to go to France and specialy in "La Ferté Vidame" ! I like playing darts and basket-ball and love big surprises...</p>
            </div>

            <div class="col s3 offset-s9">
                <i class="material-icons">person</i>
                <i class="material-icons">message</i>
            </div>
        </div>
    </div>
    <div class="col s2 newpeople">
      <div class="bgsubtitle">
        <h2>Have you ever met :</h2>
      </div>
        <p class="subtitle">here are the latest registered trippers</p>
        <div class="chip rightsuggest" ng-repeat="user in users" ng-click="profilUser(user)">
            <img src="/img/profilimg.jpg" alt="Contact Person"> {{user}}{{country}}
        </div>
        <div class="chat">

        </div>
    </div>
</div>
</div>
