<nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController">
    <div class="container-fluid">
        <div class="navbar-header">
          <img src="/img/newlogo.svg" alt="">
          
      <ul class="right hide-on-med-and-down">
        <li ui-sref-active="active"><a ui-sref="user.home">Home</a></li>
          <li ui-sref-active="active"><a ui-sref="user.rencontre">Rencontre</a></li>
        <li><a href="#!/user/infoperso">Info perso</a></li>
            <li ui-sref-active="active"><a ui-sref="user.persomen">Mon profil</a></li>

      </ul>

        </div>
    </div>
</nav>
