<div class="row">

    <div class="col s12">

        <div class="col s4">

            <div class="row">

                <img class="col s4 circle responsive-img" src="/img/tatiana2.jpg" alt="">
                <p class="col s8 namecard valign-wrapper">TatianaFromRussia</p>
            </div>
            <p class="subtitle">I like playing darts and basket-ball and love big surprises...</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">USA, Japan</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">France, Canada, Mexico</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Long spend
            </div>
        </div>
        <div class="col s8">
            <div class="col s12">
                <div class="header">

                </div>
<div class="slider">
    <img src="/img/carnet"{{i}}".jpeg" alt="">

</div>
<div class="btns">
    <a class="btn-floating btn-large waves-effect waves-light red" ng-click="prevCarnet"><i class="material-icons">chevron_left</i></a>
      <a class="btn-floating btn-large waves-effect waves-light red" ng-click="nextCarnet"><i class="material-icons">chevron_right</i></a>

</div>


            </div>
        </div>
    </div>

</div>
