<div class="row">

    <div class="col s12">

        <div class="col s4">

            <div class="row">

                <img class="col s4 circle responsive-img" src="/img/tatiana2.jpg" alt="">
                <p class="col s8 namecard valign-wrapper">TatianaFromRussia</p>
            </div>
            <p class="subtitle">I like playing darts and basket-ball and love big surprises...</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">USA, Japan</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">France, Canada, Mexico</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Long spend
            </div>
            <span class="memorys">Trip Memorys</span>
            <div class="collections">
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/carnet1.jpg" alt="">
                    <p class="center-align">Sketch</p>
                </div>
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/brazil.jpg" alt="">
                    <p class="center-align">Brazil</p>
                </div>
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/capetown.jpg" alt="">
                    <p class="center-align">Sounth Africa</p>
                </div>
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/newyork.jpg" alt="">
                    <p class="center-align">USA</p>
                </div>
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/newdelhi.jpg" alt="">
                    <p class="center-align">India</p>
                </div>
                <div class="col s4 couple">
                    <img class="collectpic" src="/img/lisboa.jpg" alt="">
                    <p class="center-align">Portugal</p>
                </div>
            </div>




            <div class="btns">
                <a class="btn-floating btn-large" ng-click="prevCarnet()"><i class="material-icons">chevron_left</i></a>
                <a class="btn-floating btn-large" ng-click="nextCarnet()"><i class="material-icons">chevron_right</i></a>
            </div>
        </div>
        <div class="col s8">
            <div class="col s12">
                <!-- <div class="header">

                </div> -->
                <div class="slider">
                    <img class="fondtest" src={{currentImage}} alt="">
                </div>

            </div>
        </div>
    </div>

</div>
