<div class="row">
    <div class="col s6 filter">


        <div class="bgsubtitle">
            <h2>Who do you wanna meet ?</h2>
        </div>
        <div class="col s6 question">
            <div class="selectbox">
                <p>A :</p>
                <md-select placeholder="You're interrested into..." ng-model="sexe">
                    <md-option ng-repeat="sexe in genres" value="{{sexe}}">{{sexe}}</md-option>
            </div>
        </div>
        <div class="col s6 question">
            <p>Speaking :</p>
            <div class="checkBox col s12">
                <p class="col s6" ng-repeat="langue in langues">
                    <input type="checkbox" id="{{langue}}"/>
                    <label for="{{langue}}">{{langue}}</label>
                </p>
            </div>
        </div>
        <div class="col s6 question">
            <p>who have already visited :</p>
            <md-input-container>
                <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
            </md-input-container>
        </div>
        <div class="col s6 question">
            <p>who wants to go in :</p>
            <md-input-container>
                <input type="text" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
            </md-input-container>
        </div>

        <p>Wich kind of traveller do you wanna meet ?</p>

        <div class="col s12 checkBox question">
            <p class="col s2" ng-repeat="type in typeOfTravel">
                <input type="checkbox" id="{{type}}" />
                <label for="{{type}}">{{type}}</label>
            </p>
        </div>
        <a class="col s6 btn-large btnvalid" ng-click="showList()" >Show me the list</a>
        <a class="col s6 btn-large btnvalid" ng-click="risk()" >I like risk</a>


    </div>
    <div class="col s6 matches" >
        <div class="bgsubtitle">
            <h2>Contact them :</h2>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list">
            <img class="col s4 circle responsive-img" src="/img/tatiana2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">TatianaFromRussia</p>
            <p class="subtitle">I like playing darts and basket-ball and love big surprises...</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">USA, Japan</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">France, Canada, Mexico</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Long spend
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list">
            <img class="col s4 circle responsive-img" src="/img/Coralie2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Coralie</p>
            <p class="subtitle">I would like to go in Asia. I need a real break I want to find love.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">China, Costa rica, Germany</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">Bali, India, Maldives</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Party
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list">
            <img class="col s4 circle responsive-img" src="/img/Cecile2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Cécile</p>
            <p class="subtitle">Just looking for a nice guy who wants to start a new adventure.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">Tunisia, Egypt, Mali, Kenya</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">Bali, India, Maldives</p>

            <div class="chip chipcard">Photography
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Short time
            </div>
            <div class="chip chipcard">Party
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list">
            <img class="col s4 circle responsive-img" src="/img/Camille2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Camille</p>
            <p class="subtitle">I love surprises tell me where you wanna go and I'll follow you.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">Panama, USA, Canada, France, Spain</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">India, japan, Indonesia</p>

            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>

        </div>

        <!-- ///////////////////RANDOM//////////////////////////////// -->

        <div class="col s6 userCard card-panel hoverable" ng-hide="list1">
            <img class="col s4 circle responsive-img" src="/img/tatiana2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">TatianaFromRussia</p>
            <p class="subtitle">I like playing darts and basket-ball and love big surprises...</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">USA, Japan</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">France, Canada, Mexico</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Long spend
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list2">
            <img class="col s4 circle responsive-img" src="/img/Coralie2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Coralie</p>
            <p class="subtitle">I would like to go in Asia. I need a real break I want to find love.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">China, Costa rica, Germany</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">Bali, India, Maldives</p>

            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Party
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list3">
            <img class="col s4 circle responsive-img" src="/img/Cecile2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Cécile</p>
            <p class="subtitle">Just looking for a nice guy who wants to start a new adventure.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">Tunisia, Egypt, Mali, Kenya</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">Bali, India, Maldives</p>

            <div class="chip chipcard">Photography
            </div>
            <div class="chip chipcard">Backpack
            </div>
            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Short time
            </div>
            <div class="chip chipcard">Party
            </div>
        </div>
        <div class="col s6 userCard card-panel hoverable" ng-hide="list4">
            <img class="col s4 circle responsive-img" src="/img/Camille2.jpg" alt="">
            <p class="col s8 namecard valign-wrapper">Camille</p>
            <p class="subtitle">I love surprises tell me where you wanna go and I'll follow you.</p>
            <p class="col s3 pcard">Visited :</p>
            <p class="col s9 pcard rep">Panama, USA, Canada, France, Spain</p>
            <p class="col s3 pcard">Wish :</p>
            <p class="col s9 pcard rep">India, japan, Indonesia</p>

            <div class="chip chipcard">Sport
            </div>
            <div class="chip chipcard">Chill
            </div>
            <div class="chip chipcard">Backpack
            </div>

        </div>



    </div>
</div>
